@inherits LayoutComponentBase

<div class="capture-root">
    <div class="stars" aria-hidden="true">
        <div class="stars1"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
    </div>

    <div class="app">
        @Body
    </div>
</div>